body {
  background: #f2f2f2;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;  /* Preferred icon size */
  display: inline-block;
  line-height: 2;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.search-placeholder {
  font-family: sans-serif;
  font-size: xx-large !important;
  width: 100%;
}   

[placeholder] {
  text-overflow: ellipsis;
}

.app-container {
  width: 100%;
}

.p-8 {
  padding: 24px;
}

.mb-9 {
  margin-bottom: 12px;
}